# World Indicators Extract notebook
Here I extract 3 datasets using the [bigquery](https://googleapis.dev/python/bigquery/latest/index.html) package. [Pandas](https://pandas.pydata.org/) was used to export the data to CSVs for the Load process.

In [1]:
from google.cloud import bigquery as bq

In [2]:
client = bq.Client()

In [32]:
import pandas as pd

### World Bank International Education
This dataset consists of four tables:
* Series Summary
* Country Summary
* International Education
* Country Series Definitions

In [22]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_intl_education.series_summary`')

WB_edu_series_summ_df = client.query(sql).to_dataframe()

In [34]:
WB_edu_series_summ_df.to_csv('WB_edu_series_summ_df.csv')

In [23]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_intl_education.country_summary`')

WB_edu_country_summ_df = client.query(sql).to_dataframe()

In [35]:
WB_edu_country_summ_df.to_csv('WB_edu_country_summ_df.csv')

In [24]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_intl_education.international_education`')

WB_edu_int_edu_df = client.query(sql).to_dataframe()

In [38]:
WB_edu_int_edu_df.to_csv('WB_edu_int_edu.csv')

In [25]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_intl_education.country_series_definitions`')

WB_edu_country_series_def_df = client.query(sql).to_dataframe()

In [37]:
WB_edu_country_series_def_df.to_csv('WB_edu_country_series_def_df.csv')

### World Bank Development Indicators
This dataset consists of six tables:
* Series Summary
* Series Time
* Country Summary
* Indicators Data
* Country Series Definitions
* Footnotes

In [26]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_wdi.country_series_definitions`')

WB_wdi_country_series_def_df = client.query(sql).to_dataframe()

In [39]:
WB_wdi_country_series_def_df.to_csv('WB_wdi_country_series_def_df.csv')

In [27]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_wdi.country_summary`')

WB_wdi_country_summ_df = client.query(sql).to_dataframe()

In [40]:
WB_wdi_country_summ_df.to_csv('WB_wdi_country_summ_df.csv')

In [28]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_wdi.footnotes`')

WB_wdi_footnotes_df = client.query(sql).to_dataframe()

In [41]:
WB_wdi_footnotes_df.to_csv('WB_wdi_footnotes_df.csv')

In [29]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_wdi.indicators_data`')

WB_wdi_indicators_data_df = client.query(sql).to_dataframe()

In [42]:
WB_wdi_indicators_data_df.to_csv('WB_wdi_indicators_data_df.csv')

In [30]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_wdi.series_summary`')

WB_wdi_series_summ_df = client.query(sql).to_dataframe()

In [43]:
WB_wdi_series_summ_df.to_csv('WB_wdi_series_summ_df.csv')

In [31]:
sql = ('SELECT * FROM `bigquery-public-data.world_bank_wdi.series_time`')

WB_wdi_series_time_df = client.query(sql).to_dataframe()

In [44]:
WB_wdi_series_time_df.to_csv('WB_wdi_series_time_df.csv')

### International Energy Statistics
This dataset came as a CSV initially.

In [10]:
# International Energy Statistics
# Global energy trade & production 1990-2014
import pandas as pd
import os

file = os.path.join("international-energy-statistics","all_energy_statistics.csv")

int_energy_df = pd.read_csv(file)

In [11]:
int_energy_df.head()

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates