In [37]:
import pandas as pd
import os

In [2]:
edu_country_series_def_file = os.path.join("..", "Extract", "WB_edu_country_series_def_df.csv")

edu_country_series_def_df = pd.read_csv(edu_country_series_def_file)

In [3]:
edu_country_series_def_df.head()

,Unnamed: 0,country_code,series_code,description
0,0,ALB,SP.POP.TOTL,"Data sources : Institute of Statistics, Eurostat"
1,1,AUS,SP.POP.TOTL,Data sources : Australian Bureau of Statistics
2,2,AUS,SP.POP.GROW,Data sources: Australian Bureau of Statistics
3,3,AZE,SP.POP.TOTL,"Data sources : Eurostat, State Statistical Com..."
4,4,AZE,SP.POP.GROW,"Data sources: Eurostat, State Statistical Comm..."

In [6]:
edu_country_summ_file = os.path.join("..", "Extract", "WB_edu_country_summ_df.csv")

edu_country_summ_df = pd.read_csv(edu_country_summ_file)

In [7]:
edu_country_summ_df.head()

,Unnamed: 0,country_code,short_name,table_name,long_name,two_alpha_code,currency_unit,special_notes,region,income_group,...,government_accounting_concept,imf_data_dissemination_standard,latest_population_census,latest_household_survey,source_of_most_recent_income_and_expenditure_data,vital_registration_complete,latest_agricultural_census,latest_industrial_data,latest_trade_data,latest_water_withdrawal_data
0,0,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,EAP,East Asia & Pacific (developing only),East Asia & Pacific,East Asia & Pacific (developing only),4E,NaN,East Asia and Pacific regional aggregate (does...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,EAS,East Asia & Pacific (all income levels),East Asia & Pacific (all income levels),East Asia & Pacific (all income levels),Z4,NaN,East Asia and Pacific regional aggregate (incl...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ECA,Europe & Central Asia (developing only),Europe & Central Asia,Europe & Central Asia (developing only),7E,NaN,Europe and Central Asia regional aggregate (do...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ECS,Europe & Central Asia (all income levels),Europe & Central Asia (all income levels),Europe & Central Asia (all income levels),Z7,NaN,Europe and Central Asia regional aggregate (in...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
edu_int_edu_file = os.path.join("..", "Extract", "WB_edu_int_edu.csv")

edu_int_edu_df = pd.read_csv(edu_int_edu_file)

In [9]:
edu_int_edu_df.head()

,Unnamed: 0,country_name,country_code,indicator_name,indicator_code,value,year
0,0,Uganda,UGA,Population of the official entrance age to sec...,UIS.SAP.23.GPV.G1,1.050401e+06,2016
1,1,Uzbekistan,UZB,"Gross enrolment ratio, primary, female (%)",SE.PRM.ENRR.FE,1.031693e+02,2016
2,2,Uzbekistan,UZB,"Net enrolment rate, pre-primary, female (%)",SE.PRE.NENR.FE,2.079315e+01,2016
3,3,Uzbekistan,UZB,"Population, ages 15-64 (% of total)",SP.POP.1564.TO.ZS,6.769146e+01,2016
4,4,Uzbekistan,UZB,"Population, ages 15-64, total",SP.POP.1564.TO,2.155851e+07,2016

In [10]:
edu_series_summ_file = os.path.join("..", "Extract", "WB_edu_series_summ_df.csv")

edu_series_summ_df = pd.read_csv(edu_series_summ_file)

In [11]:
edu_series_summ_df.head()

,Unnamed: 0,series_code,topic,indicator_name,short_definition,long_definition,unit_of_measure,periodicity,base_period,other_notes,...,limitations_and_exceptions,notes_from_original_source,general_comments,source,statistical_concept_and_methodology,development_relevance,related_source_links,other_web_links,related_indicators,license_type
0,0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
1,1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
2,2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
3,3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
4,4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
wdi_country_series_def_file = os.path.join("..", "Extract", "WB_wdi_country_series_def_df.csv")

wdi_country_series_def_df = pd.read_csv(wdi_country_series_def_file)

In [5]:
wdi_country_series_def_df.head()

,Unnamed: 0,country_code,series_code,description
0,0,ABW,IT.CEL.SETS,Servicio di Telecomunicacion di Aruba (SETAR)....
1,1,ABW,IT.CEL.SETS.P2,Servicio di Telecomunicacion di Aruba (SETAR)....
2,2,ABW,IT.MLT.MAIN,Servicio di Telecomunicacion di Aruba (SETAR)....
3,3,ABW,IT.MLT.MAIN.P2,Servicio di Telecomunicacion di Aruba (SETAR)....
4,4,ABW,IT.NET.BBND,Servicio di Telecomunicacion di Aruba (SETAR)....

In [12]:
wdi_country_summ_file = os.path.join("..", "Extract", "WB_wdi_country_summ_df.csv")

wdi_country_summ_df = pd.read_csv(wdi_country_summ_file)

In [13]:
wdi_country_summ_df.head()

,Unnamed: 0,country_code,short_name,table_name,long_name,two_alpha_code,currency_unit,special_notes,region,income_group,...,government_accounting_concept,imf_data_dissemination_standard,latest_population_census,latest_household_survey,source_of_most_recent_income_and_expenditure_data,vital_registration_complete,latest_agricultural_census,latest_industrial_data,latest_trade_data,latest_water_withdrawal_data
0,0,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
1,1,CEB,Central Europe and the Baltics,Central Europe and the Baltics,Central Europe and the Baltics,B8,NaN,Central Europe and the Baltics aggregate.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
2,2,CSS,Caribbean small states,Caribbean small states,Caribbean small states,S3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
3,3,EAP,East Asia & Pacific (excluding high income),East Asia & Pacific (excluding high income),East Asia & Pacific (excluding high income),4E,NaN,East Asia and Pacific regional aggregate (does...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
4,4,EAR,Early-demographic dividend,Early-demographic dividend,Early-demographic dividend,V2,NaN,Early-dividend countries are mostly lower-midd...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN

In [14]:
wdi_footnotes_file = os.path.join("..", "Extract", "WB_wdi_footnotes_df.csv")

wdi_footnotes_df = pd.read_csv(wdi_footnotes_file)

In [15]:
wdi_footnotes_df.head()

,Unnamed: 0,country_code,series_code,year,description
0,0,ABW,AG.LND.FRST.K2,1990,Not specified
1,1,ABW,AG.LND.FRST.K2,2000,Not specified
2,2,ABW,AG.LND.FRST.K2,2005,Not specified
3,3,ABW,BX.TRF.PWKR.CD.DT,2016,Data on Personal Transfers and Compensation of...
4,4,ABW,BX.TRF.PWKR.CD.DT,2017,Data on Personal Transfers and Compensation of...

In [16]:
wdi_indicators_data_file = os.path.join("..", "Extract", "WB_wdi_indicators_data_df.csv")

wdi_indicators_data_df = pd.read_csv(wdi_indicators_data_file)

In [17]:
wdi_indicators_data_df.head()

,Unnamed: 0,country_name,country_code,indicator_name,indicator_code,value,year
0,0,Israel,ISR,"School enrollment, preprimary (% gross)",SE.PRE.ENRR,94.55457,2004
1,1,Israel,ISR,"School enrollment, preprimary, female (% gross)",SE.PRE.ENRR.FE,88.95153,2000
2,2,Israel,ISR,"School enrollment, preprimary, male (% gross)",SE.PRE.ENRR.MA,100.14757,2008
3,3,Israel,ISR,"School enrollment, primary and secondary (gros...",SE.ENR.PRSC.FM.ZS,1.01079,2013
4,4,Israel,ISR,"School enrollment, secondary (gross), gender p...",SE.ENR.SECO.FM.ZS,0.99282,1999

In [18]:
wdi_series_summ_file = os.path.join("..", "Extract", "WB_wdi_series_summ_df.csv")

wdi_series_summ_df = pd.read_csv(wdi_series_summ_file)

In [19]:
wdi_series_summ_df.head()

,Unnamed: 0,series_code,topic,indicator_name,short_definition,long_definition,unit_of_measure,periodicity,base_period,other_notes,...,limitations_and_exceptions,notes_from_original_source,general_comments,source,statistical_concept_and_methodology,development_relevance,related_source_links,other_web_links,related_indicators,license_type
0,0,SG.VAW.1549.ZS,Gender: Health,Proportion of women subjected to physical and/...,NaN,Proportion of women subjected to physical and/...,NaN,Annual,NaN,NaN,...,"Collecting valid, reliable, and ethical data o...",NaN,NaN,United Nations Statistics Division (UNSD),NaN,Violence against women is an obstacle to the a...,NaN,NaN,NaN,CC BY-4.0
1,1,SE.PRE.ENRL.TC.ZS,Education: Inputs,"Pupil-teacher ratio, preprimary",NaN,Preprimary school pupil-teacher ratio is the a...,NaN,Annual,NaN,Data retrieved via API in March 2019. For deta...,...,The comparability of pupil-teacher ratios acro...,NaN,NaN,UNESCO Institute for Statistics (http://uis.un...,Pupil-teacher ratio is calculated by dividing ...,The pupil-teacher ratio is often used to compa...,NaN,NaN,NaN,CC BY-4.0
2,2,SE.PRM.AGES,Education: Inputs,Primary school starting age (years),NaN,Primary school starting age is the age at whic...,NaN,Annual,NaN,Data retrieved via API in March 2019. For deta...,...,The theoretical entrance age to a given progra...,NaN,NaN,UNESCO Institute for Statistics (http://uis.un...,Data on education are collected by the UNESCO ...,NaN,NaN,NaN,NaN,CC BY-4.0
3,3,SE.PRM.ENRL.TC.ZS,Education: Inputs,"Pupil-teacher ratio, primary",NaN,Primary school pupil-teacher ratio is the aver...,NaN,Annual,NaN,Data retrieved via API in March 2019. For deta...,...,The comparability of pupil-teacher ratios acro...,NaN,NaN,UNESCO Institute for Statistics (http://uis.un...,Pupil-teacher ratio is calculated by dividing ...,The pupil-teacher ratio is often used to compa...,NaN,NaN,NaN,CC BY-4.0
4,4,SE.SEC.AGES,Education: Inputs,Lower secondary school starting age (years),NaN,Lower secondary school starting age is the age...,NaN,Annual,NaN,Data retrieved via API in March 2019. For deta...,...,The theoretical entrance age to a given progra...,NaN,NaN,UNESCO Institute for Statistics (http://uis.un...,Data on education are collected by the UNESCO ...,NaN,NaN,NaN,NaN,CC BY-4.0

In [20]:
wdi_series_time_file = os.path.join("..", "Extract", "WB_wdi_series_time_df.csv")

wdi_series_time_df = pd.read_csv(wdi_series_time_file)

In [21]:
wdi_series_time_df.head()

   Unnamed: 0        series_code  year                   description
0           0        SP.ADO.TFRT  1962  The data refer to 1960-1965.
1           1  SP.DYN.TO65.FE.ZS  1962  The data refer to 1960-1965.
2           2  SP.DYN.TO65.MA.ZS  1962  The data refer to 1960-1965.
3           3     SP.POP.BRTH.MF  1962  The data refer to 1960-1965.
4           4  SP.DYN.TO65.MA.ZS  1967  The data refer to 1965-1970.

In [23]:
int_energy_statistics_file = os.path.join("..", "Extract", "international-energy-statistics", "all_energy_statistics.csv")

int_energy_statistics_df = pd.read_csv(int_energy_statistics_file)

In [24]:
int_energy_statistics_df.head()

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates

In [25]:
from sqlalchemy import create_engine
from config import username,password

db_url = f'postgresql+psycopg2://{username}:{password}@127.0.0.1:5432/ETL_Project'

engine = create_engine(db_url, echo=False)

In [44]:
edu_int_edu_df.to_sql('education_indicators', con=engine, if_exists='replace', index=False)

In [45]:
edu_country_series_def_df.to_sql('education_series_defintions', con=engine, if_exists='replace', index=False)

In [46]:
edu_country_summ_df.to_sql('education_country_summary', con=engine, if_exists='replace', index=False)

In [47]:
edu_series_summ_df.to_sql('education_series_summary', con=engine, if_exists='replace', index=False)

In [48]:
wdi_country_series_def_df.to_sql('development_series_defintions', con=engine, if_exists='replace', index=False)

In [49]:
wdi_country_summ_df.to_sql('development_country_summary', con=engine, if_exists='replace', index=False)

In [50]:
wdi_footnotes_df.to_sql('development_footnotes', con=engine, if_exists='replace', index=False)

In [51]:
wdi_indicators_data_df.to_sql('development_indicators', con=engine, if_exists='replace', index=False)

In [52]:
wdi_series_summ_df.to_sql('development_series_summary', con=engine, if_exists='replace', index=False)

In [43]:
wdi_series_time_df.to_sql('development_series_time', con=engine, if_exists='replace', index=False)

In [53]:
int_energy_statistics_df.to_sql('energy_statistics', con=engine, if_exists='replace', index=False)